body{
    background-color: rgb(255, 252, 250);
}
select{
    /* width: 100%; */
    margin: 1em;
    padding: 1em;
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
}
select:hover{
    zoom: 105%;
    background-color: #333;
    border: solid black;
}


.hxh{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: white;

}
.hxh img{
    width: 50vw;
}
.description{
    
    margin: 1em;
    font-size: 25px;
}